@using System.Web.Optimization
@model SimpleReport.ViewModel.ReportViewModel
@{
    ViewBag.Title = "Report Designer";
}
@Scripts.Render("~/bundles/designer")
<section class="content-header">
    <h1>
        Report Designer <small>Here you can edit existing reports or create new ones.</small>
    </h1>
</section>
<section class="content" ng-cloak ng-app="designer" ng-controller="designerController">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li href="#tab_1" ng-class="{active: activeTab == 'report'}"><a data-toggle="tab" aria-expanded="true">Reports</a></li>
            <li href="#tab_2" ng-class="{active: activeTab == 'lookup'}"><a data-toggle="tab" aria-expanded="false">Dropdown parameters</a></li>
            <li href="#tab_3" ng-class="{active: activeTab == 'connection'}"><a data-toggle="tab" aria-expanded="false">Connections</a></li>
            <li href="#tab_4" ng-class="{active: activeTab == 'accesslists'}"><a data-toggle="tab" aria-expanded="false">Access control lists</a></li>
        </ul>
    </div>

    <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
            @Html.Partial("_Reports")
        </div>
        <div class="tab-pane" id="tab_2">
            @Html.Partial("_LookupReports")
        </div>
        <div class="tab-pane" id="tab_3">
            @Html.Partial("_Connections")
        </div>
        <div class="tab-pane" id="tab_4">
            @Html.Partial("_AccessLists")
        </div>
    </div>
</section>
