@model SimpleReport.ViewModel.ReportViewModel
@{
    ViewBag.Title = "Report Designer";
}
    <script type="text/javascript">
    var designer = angular.module("designer");
    </script>
<section class="content-header">
    <h1>
        Report designer <small>Here you can edit existing reports or create new ones.</small>
    </h1>
</section>
<section class="content" ng-controller="designerController">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li ng-class="{active: activeTab == 'report', disabled: connections.length == 0}"><a data-toggle="tab" href="#tab_1" aria-expanded="true">Reports</a></li>
            <li ng-class="{active: activeTab == 'lookup', disabled: connections.length == 0}"><a data-toggle="tab" href="#tab_2" aria-expanded="false">Dropdown parameters</a></li>
            <li ng-class="{active: activeTab == 'typeahead', disabled: connections.length == 0}"><a data-toggle="tab" href="#tab_3" aria-expanded="false">Typeahead parameters</a></li>
            <li ng-class="{active: activeTab == 'connection'}"><a data-toggle="tab" href="#tab_4" aria-expanded="false">Connections</a></li>
            <li ng-class="{active: activeTab == 'accesslists'}"><a data-toggle="tab" href="#tab_5" aria-expanded="false">Access control lists</a></li>
            <li ng-class="{active: activeTab == 'settings'}"><a data-toggle="tab" href="#tab_6" aria-expanded="false">Settings</a></li>
        </ul>
    </div>

        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                @Html.Partial("_Reports")
            </div>
            <div class="tab-pane" id="tab_2">
                @Html.Partial("_LookupReports")
            </div>
            <div class="tab-pane" id="tab_3">
                @Html.Partial("_TypeAheadReports")
            </div>
            <div class="tab-pane" id="tab_4">
                @Html.Partial("_Connections")
            </div>
            <div class="tab-pane" id="tab_5">
                @Html.Partial("_AccessLists")
            </div>
            <div class="tab-pane" id="tab_6">
                @Html.Partial("_Settings")
            </div>
        </div>

</section>
