@using Newtonsoft.Json
@using SimpleReport.Model
@model SimpleReport.ViewModel.ReportViewModel
@{
    ViewBag.Title = "View Report";
}
<script type="text/javascript">
    @{
        //NOTE: reuse model to avoid getting data again. temporary during conversion.
    }
    angular.module("report").value("reportViewModel", @Html.Raw(JsonConvert.SerializeObject(Model)));
</script>

<div ng-cloak ng-app="report" ng-controller="reportController">

    @if (!ViewData.ModelState.IsValid)
    {
        <section class="content-header">
            <h1>
                Errors in request
            </h1>
        </section>
        <section class="content">
            @Html.ValidationSummary(false)
        </section>
    }
    else
    {
        <section class="content-header">
            <h1>
                {{:: viewModel.Report.Name }}
            </h1>
        </section>
        <section class="content">
            <p class="lead">{{:: viewModel.Report.Description}}</p>
            @using (Html.BeginForm("ExecuteReport", "Home", FormMethod.Get, new { role = "form" }))
            {
                <input type="hidden" name="reportId" value="@Model.Report.Id" class="form-control">

                <div class="box box-primary" data-ng-if="viewModel.Report.Parameters.length">
                    <div class="box-header">
                        <h3 class="box-title">Parameters</h3>
                    </div>

                    <div class="box-body">
                        <div class="row">


                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" data-ng-repeat="par in viewModel.Report.Parameters track by par.Key">
                                <div class="form-group">
                                    <label class="control-label" for="{{par.Key}}">{{par.Label}}</label>

                                    <div data-ng-switch="par.InputType">
                                        <input data-ng-switch-when="@((int) ParameterInputType.Integer)" data-numeric data-ng-required="{{par.Mandatory}}" type="text" name="{{par.Key}}" data-ng-model="par.Value" placeholder="Integer" class="numeric form-control">

                                        <div data-ng-switch-when="@((int) ParameterInputType.Date)" class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" name="{{par.Key}}" data-datepicker data-ng-model="par.Value" data-ng-required="{{par.Mandatory}}" class="form-control datepicker pull-right">
                                        </div>

                                        <div data-ng-switch-when="@((int) ParameterInputType.Period)">
                                            <select data-ng-required="{{par.Mandatory}}" name="{{par.Key}}" class="form-control" data-ng-model="par.EnumValue" data-ng-change="periodChanged(par)">
                                                <option value="">[Please Choose...]</option>
                                                <option data-ng-repeat="(k,v) in par.Choices track by $index" value="{{k}}">{{v}}</option>
                                            </select>
                                            <div data-ng-show="par.EnumValue === '9999'">
                                                <datepicker class="pull-left" ng-model="par.from" max-date="par.to" show-weeks="true" data-ng-change="periodChanged(par)"></datepicker>
                                                <datepicker class="pull-left" ng-model="par.to" min-date="par.from" show-weeks="true" data-ng-change="periodChanged(par)"></datepicker>
                                            </div>
                                        </div>

                                        <select data-ng-switch-when="@((int) ParameterInputType.Lookup)" data-ng-required="{{par.Mandatory}}" name="{{par.Key}}" class="form-control" data-ng-model="par.Value">
                                            <option value="">[Please Choose...]</option>
                                            <option data-ng-repeat="(k,v) in par.Choices" value="{{k}}">{{v}}</option>
                                        </select>

                                        <input data-ng-switch-default type="text" data-ng-required="{{par.Mandatory}}" name="{{par.Key}}" data-ng-model="par.Value" class="form-control" placeholder="String">
                                    </div>

                                    <span class="help-block">{{par.HelpText}}</span>
                                    <label for="{{par.Key}}" generated="true" class="help-block error"></label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <p data-ng-if="!viewModel.Report.Parameters.length">This report has no parameters, just click on execute.</p>

                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-4 col-xs-6">
                            <button type="submit" class="btn btn-primary">Execute</button>
                            <button type="button" class="btn btn-primary" data-ng-click="triggerOnScreen()" data-ng-show="viewModel.Report.OnScreenFormatAllowed">On screen</button>
                        </div>

                        <div class="col-md-4 col-xs-5">
                            <button type="button" class="btn btn-primary" data-ng-click="selectedAction = 'subscribe'">Subscribe</button>
                            <button type="button" class="btn btn-primary" data-ng-click="selectedAction = 'editSubscriptions'">Edit subscriptions</button>
                        </div>

                        <div class="col-md-4 col-xs-1">
                            <button type="button" class="btn btn-primary" data-ng-click="selectedAction = 'editTemplate'" data-ng-show="viewModel.CanEditTemplate">Edit template</button>
                        </div>
                    </div>
                </div>

                <div data-ng-show="selectedAction" data-ng-switch="selectedAction" class="box box-actions" style="margin-top: 20px;">
                    <div data-ng-switch-when="onScreen">
                        <div data-on-screen-report data-reportid="viewModel.Report.Id" data-parameters="viewModel.Report.Parameters"></div>
                    </div>

                    <div data-ng-switch-when="subscribe">
                        <div>Subscribe is not available yet</div>
                    </div>

                    <div data-ng-switch-when="editSubscriptions">
                        <div>Editing subscriptions is not available yet</div>
                    </div>

                    <div data-ng-switch-when="editTemplate">
                        <div data-template-upload data-reportid="viewModel.Report.Id" data-has-report-template="viewModel.Report.HasTemplate"></div>
                    </div>
                </div>
                
            }
        </section>
    }
</div>