@using System.Web.Optimization
@using SimpleReport.Model
@using SimpleReport.ViewModel
@*@model SimpleReport.ViewModel.ReportViewModel*@
<!doctype html>
<html lang="en">
<head>
    <base href="@Url.Content("~")" />
    <meta charset="utf-8">
    <title>Simple Report Tool: @ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="">
    <meta name="author" content="">
    @Styles.Render("~/bundles/css")
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css">
    @Scripts.Render("~/bundles/scripts")
</head>
<body class="skin-blue">
    <div class="wrapper">
        <header class="main-header">
            <a class="logo" href="#"><b>Simple</b> reports</a>
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                    @if (Model != null && Model is ReportViewModel)
                    {
                       if (Model.HasAdminAccess(User))
                         {
                             <div class="navbar-custom-menu">
                                 <ul class="nav navbar-nav">
                                     <li>
                                         <a href="@Url.Action("Index", "Designer")">
                                             <i class="fa fa-gear"></i> <span>Admin</span>
                                         </a>
                                     </li>
                                 </ul>
                             </div>
                         }
                    }
            </nav>
        </header>
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar" style="height: auto;">
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">REPORTS</li>
                   @if (Model != null && Model is ReportViewModel)
                   {
                       foreach (IGrouping<string, ReportInfo> reportGroup in Model.ReportGroups)
                       {
                            <li class="treeview @if(Model.Report !=null && Model.Report.Group == reportGroup.Key){@Html.Raw("active")}">
                                <a href="#">
                                    <i class="fa fa-table"></i><span>@reportGroup.Key</span> <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    @foreach (ReportInfo reportInfo in reportGroup)
                                        {
                                        <li class="@if (Model.Report != null && Model.Report.Id == reportInfo.Id){@Html.Raw("active")}"><a href="@Url.Action("Report", "Home", new {reportId = reportInfo.Id})"><i class="fa fa-circle-o"></i>@reportInfo.Name</a></li>
                                        }
                                </ul>
                            </li>
                            }
                    }
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 0.5
            </div>
            <strong><a href="https://github.com/tronelius/simplereport" target="source">Free and Open source</a></strong> please share your changes with others
        </footer>
    </div>
    
</body>

</html>