@using Newtonsoft.Json
@using System.Web.Optimization
@using SimpleReport.Model
@using SimpleReport.ViewModel


<!doctype html>
<html lang="en">
<head>
    <base href="@Url.Content("~")" />
    <meta charset="utf-8">
    <title>Simple Report Tool: @ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="">
    <meta name="author" content="">
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/app")
    <script type="text/javascript">
        var rootApp = angular.module('rootApp', ['search','report', 'designer', 'subscriptions']);
        var search = angular.module("search").value("viewModel", @Html.Raw(JsonConvert.SerializeObject(Model)));
    </script>
</head>
<body class="skin-blue" ng-app="rootApp">
    @if (Request.QueryString.ToString().ToLower().Contains("selectedaction=autorefresh"))
    {
        @RenderBody()
    }
    else
    {
        <div class="wrapper">
            <header class="main-header">
                <a class="logo" href="#"><b>Simple</b> reports</a>
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    @if (Model != null && Model is ReportViewModel)
                    {
                        if (Model.HasAdminAccess)
                        {
                            <div class="navbar-custom-menu">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown notifications-menu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-gear"></i>
                                            <span>Admin</span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div style="position: relative; overflow: hidden; width: auto;">
                                                    <ul class="menu" style="overflow: hidden; width: 100%; ">
                                                        <li>
                                                            <a href="@Url.Action("Index", "Designer")">
                                                                <i class="fa fa-area-chart"></i> <span>Report designer</span>
                                                            </a>
                                                        </li>
                                                        @if (Model.SubscriptionEnabled)
                                                        {
                                                            <li>
                                                                <a href="@Url.Action("Index", "Subscription")">
                                                                    <i class="fa fa-envelope"></i> <span>Subscriptions</span>
                                                                </a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        }
                    }
                </nav>
            </header>
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar" style="height: auto;">
                    <div ng-cloak ng-controller="searchController">
                        <input class="search-box" type="text" ng-model="searchValue" data-ng-change="search(searchValue)" />
                        <ul class="sidebar-menu">
                            <li data-ng-repeat="group in visibleGroups()" ng-class="{treeview: true, active: group[0].Group === expandedGroup}">
                                <a ng-if="isVisible(group)" ng-click="toggleClosed(group)">
                                    <i class="fa fa-table"></i><span> {{:: group[0].Group }}</span> <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul ng-if="group[0].Group === expandedGroup" class="treeview-menu menu-open">
                                    <li data-ng-repeat="report in group" ng-class="{active: report.Id === viewModel.Report.Id}">
                                        <a ng-click="showReport(report.Id)" ng-if="inSearchResult(report)">
                                            <i class="fa fa-circle-o"></i>{{:: report.Name }}
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li data-ng-repeat="report in reportsMissingGroup()">
                                <a ng-click="showReport(report.Id)" ng-if="inSearchResult(report)">
                                    <i class="fa fa-circle-o"></i>{{:: report.Name }}
                                </a>
                            </li>

                        </ul>
                    </div>
                </section>
                <!-- /.sidebar -->
            </aside>
            <div class="content-wrapper">
                @RenderBody()
            </div>
            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 0.9
                </div>
                <strong><a href="https://github.com/tronelius/simplereport" target="source">Free and Open source</a></strong> please share your changes with others
            </footer>
        </div>
    }
</body>

</html>